@charset 'utf-8';
@import "~bootstrap/scss/bootstrap";

// app-specific styling
@import "animated_text";

@import url('https://fonts.googleapis.com/css?family=Montserrat');

h2 {
	color: white;
}

h3 {
	margin: 0;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 3.53px;
	line-height: 1.4em;
	vertical-align: middle;
	display: inline-block;
	text-align: center;

	background-color: #DB4355;
	padding: 10px 16px;

	@extend .align-middle;
}

.upcase {
	text-transform: uppercase;
}

.learnmore {
	// height: 17px;
	// width: 201px;
	color: #787A8E;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 3.73px;
	line-height: 17px;
	// text-align: center;
}

p {
	color: #84858E;

	strong {
		color: white;
		border-bottom: 1px solid white;
	}
}

.nav-link {
	height: 17px;
	// width: 488px;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 3.73px;
	line-height: 17px;
}