@charset 'utf-8';
@import "~bootstrap/scss/bootstrap";

// app-specific styling
@import "animated_text";
@import "shadow_text";

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Prompt');

.container-light {
	background-color: white;
}

h1, h2, h4 {
	color: white;
}

h3 {
	margin: 0;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 3.53px;
	line-height: 1.4em;
	vertical-align: middle;
	display: inline-block;
	text-align: center;

	background-color: #DB4355;
	padding: 10px 16px;

	@extend .align-middle;
}

.upcase {
	text-transform: uppercase;
}

.learnmore {
	// height: 17px;
	// width: 201px;
	color: #787A8E;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 3.73px;
	line-height: 17px;
	// text-align: center;
}

main {
	:not(code) ul li a:empty,
	:not(code) ol li a:empty,
	:not(code) a:empty {
		// height: 18px;
		// width: 100px;
		color: #18181A;
		font-family: 'Prompt', sans-serif;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 2.3px;
		line-height: 18px;
		text-transform: uppercase;
		border-bottom: 2px solid #cf2c44;

		&:after {
			content: '▶';
			font-size: 0.55em;
			position: relative;
			bottom: 2px;
			left: 4px;
		}
	}
	#readme a {
		color: white;
	}
}

p {
	color: #84858E;
}
#readme {
	:not(code) ul li,
	:not(code) ol li {
		color: #84858E;
	}
}

p {
	strong {
		color: white;
		border-bottom: 1px solid white;
	}
}

.nav-link {
	height: 17px;
	// width: 488px;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 3.73px;
	line-height: 17px;
}