body {
  background: #18181a;
}

.container-light {
  background-color: white;
}

#logo {
  width: 152px;
  height: 15px;
}

#burger {
  width: 6px;
  height: 32px;
}

#hero-title {
  width: 300px;
}

#hero-line-base {
  position: relative;
  top: 114px;
  margin-top: -114px;
  z-index: 9999;
}

// #install-instructions {
//   pre {
//     // background-color: #18181a !important;
//   }
// }

h1, h2, h4 {
  color: white;
}

h3 {
  margin: 0;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  
  font-weight: 300;
  letter-spacing: 3.53px;
  line-height: 1.4em;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  background-color: #DB4355;
  padding: 10px 16px;

  @extend .align-middle;

  font-size: 11px;
  padding: 5px 30px;
}

@include media-breakpoint-up(sm) {
  h3 {
    font-size: 16px;
    padding: 10px 16px;
  }
}

.upcase {
  text-transform: uppercase;
}

.learnmore {
  // height: 17px;
  // width: 201px;
  color: #787A8E;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3.73px;
  line-height: 17px;
  // text-align: center;
  display: none;
}
@include media-breakpoint-up(sm) {
  .learnmore {
    display: default;
  }
}

main {
  :not(code) ul li a:empty,
  :not(code) ol li a:empty,
  :not(code) a:empty {
    // height: 18px;
    // width: 100px;
    color: #18181A;
    font-family: 'Prompt', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2.3px;
    line-height: 18px;
    text-transform: uppercase;
    border-bottom: 2px solid #cf2c44;

    &:after {
      content: '▶';
      font-size: 0.55em;
      position: relative;
      bottom: 2px;
      left: 4px;
    }
  }
  #readme a {
    color: white;
  }
}

#readme {
  :not(code) ul li,
  :not(code) ol li {
    color: #84858E;
  }
}

p {
  color: #84858E; 
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;  
  font-weight: 300; 
  // line-height: 14px;

  strong {
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
  }
}

p.non-mobile {
  display: none;
}

@include media-breakpoint-up(sm) {
  p.non-mobile {
    display: default;
  }
}

.nav-link {
  height: 17px;
  // width: 488px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 3.73px;
  line-height: 17px;
}