body {
  background: #18181a;
}

nav {
  display: flex;
  align-items: center;
}

#topshelf {
  padding-bottom: 84px;
}

.container-light {
  background-color: white;

  &.container-steps {
    padding-top: 100px;
  }

  &#first-light-container {
    padding-bottom: 50px;
  }

  &#container-light-main {
    padding-top: 72px;
    padding-bottom: 25px;
  }
}

#burger {
  width: 6px;
  height: 32px;
}

#hero-title {
  width: 300px;
}

#hero-line-base {
  position: relative;
  top: -23px;
  margin-top: -35px;
  height: 115px;
}

.black-breakup {
  #red-three-dots {
    width: 32px;
    height: 6px;
    margin-bottom: 18px;
  }

  &#black-breakup-top {
    padding-top: 60px;
    background-color: #18181a;

    background-position-y: 0, 1078px;
    background-size: 100% auto, 200% auto;
    background-position-x: 0, -330px;
    background-repeat: no-repeat, repeat-y;

    #black-breakup-top-image {
      margin-top: -60px;
      position: relative;
      top: 82px;
    }
  }

  &#black-breakup-bottom {
    padding-bottom: 75px;
  }
}

.step-number {
  color: #787A8E;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

#install-instructions {
  .highlight {
    text-align: center !important;
    font-size: 1rem !important;
    background-color: transparent !important;
  }
}
.highlight {
  background-color: #18181a !important;
  font-size: 0.60rem !important;
  padding: 1px 3px;
  margin: 0;
}
@include media-breakpoint-up(sm) {
  .highlight {
    font-size: 1rem !important;
  }
}

h1, h2, h4 {
  color: white;
}

h3 {
  margin: 0;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  
  font-weight: 300;
  letter-spacing: 3.53px;
  line-height: 1.4em;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  background-color: #DB4355;
  padding: 10px 16px;
  width: 100%;

  @extend .align-middle;

  font-size: 11px;
  padding: 5px 30px;
}

a.cta {
  display: block;
  width: 100%;

  h3 {
    padding: 24px;
  }
}

@include media-breakpoint-up(sm) {
  h3 {
    font-size: 16px;
    padding: 10px 16px;
  }
}

h4 {
  color: #1E242B;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1.63px;
  line-height: 27px;
}

.upcase {
  text-transform: uppercase;
}

.learnmore {
  color: #787A8E;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3.73px;
  line-height: 17px;
  display: none;
}
@include media-breakpoint-up(sm) {
  .learnmore {
    display: default;
  }
}

main {
  :not(code) ul li a:empty,
  :not(code) ol li a:empty,
  :not(code) a:empty {
    color: #18181A;
    font-family: 'Prompt', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2.3px;
    line-height: 18px;
    text-transform: uppercase;
    border-bottom: 2px solid #cf2c44;

    &:after {
      content: '▶';
      font-size: 0.55em;
      position: relative;
      bottom: 2px;
      left: 4px;
    }
  }
  #readme a {
    color: white;
  }
}

#readme {
  :not(code) ul li,
  :not(code) ol li {
    color: #84858E;
  }
}

p {
  color: #84858E; 
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;  
  font-weight: 300; 

  strong {
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
  }

  &.big {
    color: #646262;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    margin-top: 20px;

    strong {
      color: rgb(19, 19, 20);
      border: none;
    }
  }

  &.big-dark {
    color: #787A8E;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3.09px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
  }

  &.massive {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1.73px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }

  &.non-mobile {
    display: none;
  }
}

@include media-breakpoint-up(sm) {
  p.non-mobile {
    display: default;
  }
}

.selling-point .inside-point {
  background-repeat: no-repeat;
  background-size: 11px 11px;
  background-position-y: 8px;
  padding-left: 22px;

  p {
    color: #625C5C;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.2px;
    line-height: 14px;
  }
}

nav {
  // display: flex;
  // align-items: center;

  a.navbar-brand {
    line-height: 15px;
    // display: flex;
    // align-items: center;

    #logo {
      width: 152px;
      height: 15px;
    }
  }

  .navbar-collapse {
    // line-height: 15px;
    // display: inline-block;
    // float: none;
  }

  a.nav-link:hover {
    cursor: pointer;
  }

  .nav-link {
    // height: 17px;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3.73px;
    line-height: 17px;

    &.slash {
      font-weight: 100;
      &:hover {
        cursor: default;
      }
    }
  }
}

footer {
  padding-top: 70px;
  padding-bottom: 60px;
  background-color: #D2D2DD;
  text-align: center;

  span, a, a:hover {
    color: #9294A8;
    font-family: 'Prompt', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3.47px;
    line-height: 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
  }
  span {
    padding-left: 18px;
    padding-right: 18px;
  }

  #footer-logo {
    height: 23px;
    width: 228px;
  }
}

#bottom-float-bar {
  bottom: 20px;

  .container-fluid {
    padding: 0 !important;
  }

  .floatbar-wrapper {
    box-sizing: border-box;
    border: 1px solid #B7BADB;
    background-color: white;
  }

  .get-started {
    border-left: 1px solid #B7BADB;
    h3 {
      padding: 13px;
    }
  }

  .github {
    line-height: 20px;
    // margin-top: 2px;

    display: flex;
    align-items: center;

    a {
      display: inline-block;
      width: 100%;
    }

    * {
      color: #787A8E;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;

      &:hover {
        text-decoration: none;
      }
    }

    .num {
      width: 53px;
      height: 36px;
      text-align: center;
      padding-top: 9px;
      display: inline-block;
    }

    img.githubcat {
      height: 22px;
      width: 22px;
      position: relative;
      bottom: 2px;
    }
  }
}

@include media-breakpoint-up(md) {
  #bottom-float-bar {
    .get-started {
      h3 {
        padding: 10px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #bottom-float-bar {
    display: none;
  }
}