a:hover {
  cursor: pointer;
}

body {
  background: #18181a;
}

nav {
  display: flex;
  align-items: center;
}

#topshelf {
  padding-bottom: 84px;

  #hero {
    .hero-linework-col {
      display: none;

      .hero-linework {
        width: 100%;
        height: 23px;
        margin-top: 12px;

        &.hero-linework-right {
          -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
        }
      }
    }
  }
}
@include media-breakpoint-up(sm) {
  #topshelf {
    padding-bottom: 145px;
  }
}

@include media-breakpoint-up(lg) {
  #topshelf #hero {
    .hero-linework-col {
      display: inline-block;
    }

    h3 {
      width: 95%;
      padding: 4px 0 !important;

      font-size: 16px;
      font-weight: 300;
      letter-spacing: 3.53px;
      line-height: 19px;
      text-align: center;
    }
  }
}

.linework-col {
  display: none;

  .linework {
    width: 100%;
    height: 24px;
    margin-top: 35px;

    &.linework-right {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
  }
}

@include media-breakpoint-up(sm) {
  .linework-col {
    display: inline-block;
  }

  .container-light {
    &#first-light-container {
      padding-top: 170px !important;

      h3 {
        padding: 4px 4px !important;

        font-size: 16px;
        font-weight: 300;
        letter-spacing: 3.53px;
        line-height: 19px;
        text-align: center;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .container-light {
    &#first-light-container {
      padding-top: 140px !important;
    }
  }
}
.container-light {
  background-color: white;

  &.container-steps {
    padding-top: 100px;
  }

  &#first-light-container {
    position: relative;
    padding-bottom: 50px;
    padding-top: 70px;
  }

  &#container-light-main {
    clear: both;
    padding-top: 72px;
    padding-bottom: 80px;
  }
}

#burger {
  width: 6px;
  height: 32px;
}

.hero-title {
  &.hero-title-lg {
    display: none;
  }
}

@include media-breakpoint-up(sm) {
  .hero-title {
    &.hero-title-sm {
      display: none;
    }
    &.hero-title-lg {
      margin-top: 3.2rem;
      display: block;
    }
  }
}

#hero-line-base {
  position: absolute;
  top: -59px;
  left: 50%;
  transform: translate(-50%, 0);

  img {
    height: 115px;
    &.small {
      display: inline;
    }
    &.large {
      display: none;
      width: 1px;
      mix-blend-mode: inherit;
    }
  }
}
.learnmore {
  color: #787a8e;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3.73px;
  line-height: 17px;
  display: none;
}
@include media-breakpoint-up(sm) {
  .learnmore {
    display: block;
  }
}
@include media-breakpoint-up(sm) {
  #hero-line-base {
    top: -92px;

    img {
      height: 184px;
      &.small {
        display: none;
      }
      &.large {
        display: inline;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  #hero-line-base {
    top: -152px;
  }
}

.fold-slash-white {
  display: none;
  position: absolute;
  bottom: 0;
}
@include media-breakpoint-up(sm) {
  .fold-slash-white {
    display: block;
  }
}

.black-breakup {
  .diagonal-slice {
    display: none;
  }

  #red-three-dots {
    width: 32px;
    height: 6px;
    margin-bottom: 18px;
  }

  .side-lines-mobile {
    position: absolute;
    right: 0;
    top: -35px;
  }

  .side-lines {
    right: -380px;
    position: absolute !important;
    top: -32px;
    width: 76%;
    max-width: 968px;

    display: none;
  }

  &#black-breakup-top {
    background-color: white;

    & > .container-fluid {
      padding-top: 60px;
    }

    background-size: 100% auto;
    background-position-y: 0, -61px;
    background-repeat: no-repeat;

    .black-breakup-top-image {
      margin-top: -60px;
      position: relative;
      top: 75px;

      &.large {
        display: none;
      }
    }
  }

  &#black-breakup-bottom {
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-bottom: 73px;
    position: relative;
    padding-top: 220px;
  }

  #black-breakup-image {
    position: absolute;
    left: 0;
    top: -38px;
    width: 75%;
    max-width: 318px;
  }
}
@include media-breakpoint-up(sm) {
  .black-breakup {
    #black-breakup-image {
      width: 57%;
      max-width: 360px !important;
    }
  }
}
@include media-breakpoint-up(md) {
  .black-breakup {
    #black-breakup-image {
      max-width: 335px !important;
    }
  }
}

@include media-breakpoint-up(lg) {
  .black-breakup {
    #black-breakup-image {
      max-width: 468px !important;
    }

    &#black-breakup-bottom {
      // padding-top: 260px;
      padding-top: 66px;
      padding-bottom: 100px;

      background-size: 0, 100% 100%;
      background-repeat: no-repeat, no-repeat;

      .row,
      .row > * {
        text-align: left !important;
        justify-content: left !important;
        padding-left: 0;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .black-breakup {
    #black-breakup-image {
      width: 37%;
      max-width: 588px !important;
    }
  }

  .side-lines {
    width: 48% !important;
  }
}

@include media-breakpoint-up(sm) {
  .black-breakup {
    .diagonal-slice {
      display: block;
    }

    .side-lines-mobile {
      display: none;
    }

    .side-lines {
      display: block;
      right: -302px;
      top: -26px;
    }

    &#black-breakup-top {
      background-size: 0 0, 1959px 378px;

      & > .container-fluid {
        height: 264px;
      }

      .black-breakup-top-image {
        width: 93%;
        top: 12%;
        left: 45%;

        &.small {
          display: none;
        }

        &.large {
          display: block;
        }
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .black-breakup {
    &#black-breakup-top {
      & > .container-fluid {
        height: 239px;
      }

      .black-breakup-top-image {
        width: 590px !important;
        top: 24px;
        left: 57%;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .black-breakup {
    &#black-breakup-top {
      p.big-dark {
        text-align: left;
      }

      .black-breakup-top-image {
        width: 640px !important;
        top: -35px;
        left: 64%;
      }
    }
  }
}

.step-number {
  color: #787a8e;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.step-number-line {
  width: 100%;
  height: 1px;
}

#install-instructions {
  .highlight {
    text-align: center !important;
    font-size: 1rem !important;
    background-color: transparent !important;
    padding: 0 !important;

    &:last-child {
      padding: 5px 0 0 0 !important;
    }
  }
}
@include media-breakpoint-up(xl) {
  #install-instructions {
    padding-bottom: 80px;
  }
}

.highlight {
  background-color: #18181a !important;
  font-size: 0.6rem !important;
  padding: 1px 3px;
  margin: 0;
}
@include media-breakpoint-up(sm) {
  .highlight {
    font-size: 1rem !important;
  }
}
@include media-breakpoint-up(sm) {
  .highlight {
    padding: 8px 10px;
  }
}

h1,
h2,
h4 {
  color: white;
}

h3 {
  margin: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;

  font-weight: 300;
  font-size: 11px;
  letter-spacing: 3.53px;
  line-height: 1.4em;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  background-color: #db4355;
  padding: 10px 16px;
  width: 100%;

  @extend .align-middle;
}

a.cta {
  display: block;
  width: 100%;

  h3 {
    padding: 24px;
  }
}

@include media-breakpoint-up(md) {
  h3 {
    font-size: 16px;
    padding: 10px 16px;
  }
}

h4 {
  color: #1e242b;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1.63px;
  line-height: 27px;
}

.upcase {
  text-transform: uppercase;
}

main {
  :not(code) ul li a:empty,
  :not(code) ol li a:empty,
  :not(code) a:empty {
    color: #18181a;
    font-family: "Prompt", sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2.3px;
    line-height: 18px;
    text-transform: uppercase;
    border-bottom: 2px solid #cf2c44;

    &:after {
      content: "▶";
      font-size: 0.55em;
      position: relative;
      bottom: 2px;
      left: 4px;
    }
  }
}

#topshelf p {
  line-height: 17px;
}
@include media-breakpoint-up(sm) {
  #topshelf p,
  #black-breakup-bottom p {
    font-size: 18px;
    line-height: 29px;
    font-weight: 300;
    line-height: 27px;
  }
}
@include media-breakpoint-up(md) {
  #topshelf p {
    line-height: 29px;
  }
}

p {
  color: #84858e;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;

  strong {
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
  }

  &.big {
    color: #646262;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    margin-top: 20px;

    strong {
      color: rgb(19, 19, 20);
      border: none;
    }
  }

  &.big-dark {
    color: #787a8e;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3.09px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
  }

  &.massive {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 100 !important;
    letter-spacing: 1.73px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }
}

@include media-breakpoint-up(sm) {
  p.massive {
    font-size: 60px !important;
    line-height: 72px !important;
  }
}
@include media-breakpoint-up(lg) {
  #black-breakup-bottom {
    p.massive {
      line-height: 41px !important;
    }
  }
}

.non-mobile {
  display: none;
}

@include media-breakpoint-up(sm) {
  .mobile {
    display: none;
  }
  .non-mobile {
    display: inline;
  }
}

.selling-point .inside-point {
  background-repeat: no-repeat;
  background-size: 11px 11px;
  background-position-y: 8px;
  padding-left: 22px;

  .description p {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.2px;
    line-height: 21px !important;
  }

  h4 {
    margin-bottom: 4px;
  }

  a.learn-more-link {
    color: #18181a;
    font-family: "Prompt", sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2.3px;
    line-height: 18px;

    box-sizing: border-box;
    border-bottom: 3px solid #db4355;

    margin-top: 2px;
    margin-bottom: 38px;
    display: inline-block;

    &:after {
      content: "▶";
      font-size: 0.9em;
    }
  }

  p {
    color: #625c5c;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.2px;
    line-height: 14px;
  }
}
@include media-breakpoint-up(sm) {
  .selling-point .inside-point {
    .description p {
      font-size: 18px !important;
      line-height: 38px !important;
    }
  }
}

main {
  overflow-x: hidden;
  overflow-y: visible;
}

// fixed top white BG nav
@include media-breakpoint-up(lg) {
  #topshelf {
    padding-top: 71px;
  }

  nav {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    z-index: 1030 !important;
  }

  nav.scrolled {
    background-color: white;
    transition: 0.1s;

    .nav-link {
      color: #18181a !important;
    }

    .logo {
      &.main {
        display: none !important;
      }
      &.inverted {
        display: inline-block !important;
      }
    }

    .get-started-button {
      border-color: #fff !important;

      h3 {
        background-color: #db4355 !important;
      }
    }
  }
}
nav {
  a.navbar-brand {
    line-height: 15px;

    .logo {
      width: 152px;
      height: 15px;

      &.main {
        display: inline-block;
      }
      &.inverted {
        display: none;
      }
    }
  }

  a:hover {
    cursor: pointer;
  }

  .nav-link {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3.73px;
    line-height: 17px;
    padding-left: 16px !important;
    padding-right: 16px !important;

    &.slash {
      font-weight: 100;
      &:hover {
        cursor: default;
      }
    }
  }

  .github,
  .get-started-button {
    display: none;
  }

  .github {
    margin-left: 10px;

    .box {
      box-sizing: border-box;
      position: relative;
      top: 2px;
      padding: 8px 9px 7px 14px;
      border: 1px solid #808080;
    }

    * {
      color: #dfdcdc;
    }
  }

  .get-started-button {
    box-sizing: border-box;
    border: 2px solid #fff;

    h3 {
      background-color: transparent !important;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 3.73px;
      line-height: 17px;
      text-align: center;
    }
  }
}
@include media-breakpoint-up(lg) {
  nav {
    .nav-link {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    .get-started-button {
      margin-left: 10px;

      h3 {
        padding: 18px 36px;
      }
    }

    .github,
    .get-started-button {
      display: block;
    }
    .github {
      margin-left: 4px;
    }
  }
}
@include media-breakpoint-up(xl) {
  nav {
    .get-started-button {
      margin-left: 35px;

      h3 {
        padding: 25px 60px;
      }
    }
    .github {
      margin-left: 80px;
    }
  }
}

@include media-breakpoint-up(lg) {
  footer {
    #footer-logo {
      height: 24px;
    }

    .force-left-lg {
      justify-content: left !important;
    }
  }
}

footer {
  padding-top: 70px;
  padding-bottom: 60px;
  background-color: #d2d2dd;
  text-align: center;

  span,
  a,
  a:hover {
    color: #9294a8;
    font-family: "Prompt", sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3.47px;
    line-height: 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
  }
  span {
    padding-left: 18px;
    padding-right: 18px;
  }
}

#bottom-float-bar {
  bottom: 20px;

  .container-fluid {
    padding: 0 !important;
  }

  .floatbar-wrapper {
    box-sizing: border-box;
    border: 1px solid #b7badb;
    background-color: white;
  }

  .get-started {
    border-left: 1px solid #b7badb;
    h3 {
      padding: 13px;
    }
  }
}

.github {
  line-height: 20px;

  display: flex;
  align-items: center;

  a {
    display: inline-block;
    width: 100%;
  }

  * {
    color: #787a8e;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;

    &:hover {
      text-decoration: none;
    }
  }

  .github-icon {
    font-size: 22px;
    position: relative;
    top: 2px;
  }
}

@include media-breakpoint-up(md) {
  #bottom-float-bar {
    .get-started {
      h3 {
        padding: 10px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #bottom-float-bar {
    display: none;
  }
}
