body {
  background: #18181a;
}

nav {
  display: flex;
  align-items: center;
}

#topshelf {
  padding-bottom: 84px;

  #hero {
    .hero-linework-col {
      display: none;

      .hero-linework {
        width: 100%;
        height: 23px;
        margin-top: 12px;

        &.hero-linework-left {
        }

        &.hero-linework-right {
          -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #topshelf #hero {
    .hero-linework-col {
      display: inline-block;
    }

    h3 {
      width: 95%;
      padding: 4px 0 !important;

      font-size: 16px;
      font-weight: 300;
      letter-spacing: 3.53px;
      line-height: 19px;
      text-align: center;
    }
  }
}

.linework-col {
  display: none;

  .linework {
    width: 100%;
    height: 25px;
    margin-top: 35px;

    &.linework-left {
    }

    &.linework-right {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
  }
}

@include media-breakpoint-up(sm) {
  .linework-col {
    display: inline-block;
  }

  #first-light-container {
    h3 {
      // width: auto !important;
      padding: 4px 4px !important;

      font-size: 16px;
      font-weight: 300;
      letter-spacing: 3.53px;
      line-height: 19px;
      text-align: center;
    }
  }
}

.container-light {
  background-color: white;

  &.container-steps {
    padding-top: 100px;
  }

  &#first-light-container {
    padding-bottom: 50px;
  }

  &#container-light-main {
    clear: both;
    padding-top: 72px;
    padding-bottom: 25px;
  }
}

#burger {
  width: 6px;
  height: 32px;
}

.hero-title {

  &.hero-title-lg {
    display: none;
  }
}

@include media-breakpoint-up(sm) {
  .hero-title {
    &.hero-title-sm {
      display: none;
    }
    &.hero-title-lg {
      margin-top: 3.2rem;
      display: block;
    }
  }
}

#hero-line-base {
  position: relative;
  top: -23px;
  margin-top: -35px;
  height: 115px;
}

.black-breakup {
  .diagonal-slice {
    display: none;
  }

  #red-three-dots {
    width: 32px;
    height: 6px;
    margin-bottom: 18px;
  }

  &#black-breakup-top {
    // background-color: #18181A;
    background-color: white;

    &> .container-fluid {
      padding-top: 60px;
    }

    background-size: 100% auto;
    background-position-y: 0, -61px;
    background-repeat: no-repeat;

    .black-breakup-top-image {
      margin-top: -60px;
      position: relative;
      top: 75px;

      &.large {
        display: none;
      }
    }
  }

  &#black-breakup-bottom {
  }
}
@include media-breakpoint-up(sm) {
  .black-breakup {
    .diagonal-slice {
      display: block;
    }

    &#black-breakup-top {
      background-size: 0 0, 1959px 378px;

      &> .container-fluid {
        height: 264px;
      }

      .black-breakup-top-image {
        width: 93%;
        top: 12%;
        left: 45%;

        &.small {
          display: none;
        }

        &.large {
          display: block;
        }
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .black-breakup {
    &#black-breakup-top {
      &> .container-fluid {
        height: 239px;
      }

      .black-breakup-top-image {
        // width: 68%;
        // top: 21%;
        // left: 57%;
        width: 590px !important;
        top: 12px;
        left: 59%;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .black-breakup {
    &#black-breakup-top {
      .black-breakup-top-image {
        // width: 58%;
        width: 640px !important;
        top: 14px;
        left: 64%;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .black-breakup {
    &#black-breakup-top {
      .black-breakup-top-image {
        // width: 48%;
        // width: 640px !important;
        top: 5px;
        left: 66%;
      }
    }
  }
}

.step-number {
  color: #787A8E;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.step-number-line {
  width: 100%;
}

#install-instructions {
  .highlight {
    text-align: center !important;
    font-size: 1rem !important;
    background-color: transparent !important;
    padding: 0 !important;

    &:last-child {
      padding: 5px 0 0 0 !important;
    }
  }
}
.highlight {
  background-color: #18181a !important;
  font-size: 0.60rem !important;
  padding: 1px 3px;
  margin: 0;
}
@include media-breakpoint-up(sm) {
  .highlight {
    font-size: 1rem !important;
  }
}
@include media-breakpoint-up(sm) {
  .highlight {
    padding: 8px 10px;
  }
}

h1, h2, h4 {
  color: white;
}

h3 {
  margin: 0;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 3.53px;
  line-height: 1.4em;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  background-color: #DB4355;
  padding: 10px 16px;
  // padding: 5px 30px;
  width: 100%;

  @extend .align-middle;
}

a.cta {
  display: block;
  width: 100%;

  h3 {
    padding: 24px;
  }
}

@include media-breakpoint-up(md) {
  h3 {
    font-size: 16px;
    padding: 10px 16px;
  }
}

h4 {
  color: #1E242B;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1.63px;
  line-height: 27px;
}

.upcase {
  text-transform: uppercase;
}

.learnmore {
  color: #787A8E;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3.73px;
  line-height: 17px;
  display: none;
}
@include media-breakpoint-up(sm) {
  .learnmore {
    display: default;
  }
}

main {
  :not(code) ul li a:empty,
  :not(code) ol li a:empty,
  :not(code) a:empty {
    color: #18181A;
    font-family: 'Prompt', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2.3px;
    line-height: 18px;
    text-transform: uppercase;
    border-bottom: 2px solid #cf2c44;

    &:after {
      content: '▶';
      font-size: 0.55em;
      position: relative;
      bottom: 2px;
      left: 4px;
    }
  }
  #readme a {
    color: white;
  }
}

#readme {
  :not(code) ul li,
  :not(code) ol li {
    color: #84858E;
  }
}

p {
  color: #84858E; 
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;  
  font-weight: 300; 

  strong {
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
  }

  &.big {
    color: #646262;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    margin-top: 20px;

    strong {
      color: rgb(19, 19, 20);
      border: none;
    }
  }

  &.big-dark {
    color: #787A8E;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3.09px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
  }

  &.massive {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1.73px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }

  &.non-mobile {
    display: none;
  }
}

@include media-breakpoint-up(sm) {
  p.non-mobile {
    display: default;
  }
}

.selling-point .inside-point {
  background-repeat: no-repeat;
  background-size: 11px 11px;
  background-position-y: 8px;
  padding-left: 22px;

  p {
    color: #625C5C;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.2px;
    line-height: 14px;
  }
}

main {
  overflow-x: hidden;
  overflow-y: visible;
}

nav {
  a.navbar-brand {
    line-height: 15px;

    #logo {
      width: 152px;
      height: 15px;
    }
  }

  a.nav-link:hover {
    cursor: pointer;
  }

  .nav-link {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3.73px;
    line-height: 17px;
    padding-left: 16px !important;
    padding-right: 16px !important;

    &.slash {
      font-weight: 100;
      &:hover {
        cursor: default;
      }
    }
  }

  .github, .get-started-button {
    display: none;
  }

  .github {
    margin-left: 10px;

    .box {
      box-sizing: border-box;
      position: relative;
      top: 2px;
      padding: 8px 9px 7px 14px;
      border: 1px solid #808080;
    }

    * {
      color: #DFDCDC;
    }

    .stargazers-count {
      color: #787A8E;
      padding-top: 7px;
    }  
  }

  .get-started-button {
    box-sizing: border-box;
    border: 2px solid #FFF;

    h3 {
      background-color: transparent !important;
      color: #FFF;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 3.73px;
      line-height: 17px;
      text-align: center;
    }
  }
}
@include media-breakpoint-up(lg) {
  nav {
    .nav-link {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    .get-started-button {
      margin-left: 10px;

      h3 {
        padding: 18px 36px;
      }
    }

    .github, .get-started-button {
      display: block;
    }
    .github {
      margin-left: 4px;
    }
  }
}
@include media-breakpoint-up(xl) {
  nav {
    .get-started-button {
      margin-left: 35px;

      h3 {
        padding: 25px 60px;
      }
    }
    .github {
      margin-left: 80px;
    }
  }
}

footer {
  padding-top: 70px;
  padding-bottom: 60px;
  background-color: #D2D2DD;
  text-align: center;

  span, a, a:hover {
    color: #9294A8;
    font-family: 'Prompt', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3.47px;
    line-height: 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
  }
  span {
    padding-left: 18px;
    padding-right: 18px;
  }

  #footer-logo {
    height: 23px;
    width: 228px;
  }
}

#bottom-float-bar {
  bottom: 20px;

  .container-fluid {
    padding: 0 !important;
  }

  .floatbar-wrapper {
    box-sizing: border-box;
    border: 1px solid #B7BADB;
    background-color: white;
  }

  .get-started {
    border-left: 1px solid #B7BADB;
    h3 {
      padding: 13px;
    }
  }
}

.github {
  line-height: 20px;

  display: flex;
  align-items: center;

  a {
    display: inline-block;
    width: 100%;
  }

  * {
    color: #787A8E;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    &:hover {
      text-decoration: none;
    }
  }

  .github-icon {
    font-size: 22px;
    position: relative;
    top: 2px;
  }

  .stargazers-count {
    color: #333;
    width: 53px;
    height: 36px;
    text-align: center;
    padding-top: 8px;
    display: inline-block;
  }
}

@include media-breakpoint-up(md) {
  #bottom-float-bar {
    .get-started {
      h3 {
        padding: 10px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #bottom-float-bar {
    display: none;
  }
}