:plain
  <!-- Google Analytics Part 2: load analytics.js-->
  <!-- De-'Async Inject' Universal Analytics -->
  <!-- ref: https://gist.github.com/nateberkopec/a43f3e29d9583df33406 -->
  <script async src='//www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics Part 2 -->