:plain
  <!-- De-'Async Inject' Universal Analytics -->
  <!-- ref: https://gist.github.com/nateberkopec/a43f3e29d9583df33406 -->
  <!-- Google Analytics Part 1: Creates window.ga, sets account, and queues pageview-->
  <script>
    !function (n, t) { n.GoogleAnalyticsObject = t, n[t] = n[t] || function () { (n[t].q = n[t].q || []).push(arguments) }, n[t].l = 1 * new Date }(window, "ga");
    ga('create', 'UA-32428099-2', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- End Google Analytics Part 1 -->