#spiral-container
  .square.black
    .square
      .square.black
        .square
          .square.black
            .square
              .square.black
                .square
                  .square.black
                    .square
                      .square.black
                        .square
                          .square.black
                            .square
                              .square.black
                                .square
                                  .square.black
                                    .square
                                      .square.black
                                        .square
                                          .square.black
                                            .square
                                              .square.black
                                                .square
                                                  .square.black
                                                    .square
                                                      .square.black
                                                        .square
                                                          .square.black