= link_to dato.application.github_url, class: 'github-inside align-middle' do
  / = image_tag 'images/githubcat.png', class: 'githubcat'
  %span.box
    = github_icon
    Star
  .stargazers-count{style: background_image('images/github-stars-count-bubble.png')}
    #{icon('spinner', animated: true)}